.rbc-toolbar > .rbc-btn-group:first-child {
  // background-color: #F00;
  display: flex;
  margin-left: 10px;
  button:first-child {
    order: 1;
    border-radius: 0;
    margin-left: -1px;
  }
  button:nth-child(2) {
    order: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; 
  }
  button:last-child {
    order: 2;
  }
}
.rbc-toolbar button:focus {
  outline: none;
}